<footer class="text-center bg-dark text-white py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 mb-4">
                <img src="https://technext.github.io/KindHeart/images/logo.png" class="logo img-fluid" alt="">
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-4">
                <h5 class="site-footer-title mb-3">Quick Links</h5>
                <div class="text-white" id="navbarNav">
                <ul class="nav flex-column text-white">
                    <li class="nav-item">
                      <a class="nav-link text-white" aria-current="page" href="index.html#section_2">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="index.html#section_3">Kasus</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="volunter.html">Volunteer</a>
                    </li>
                    
                  </ul>
                  </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mx-auto">
                <h5 class=" mb-3">Contact Infomation</h5>

                <div class="d-flex flex-row mb-3 ">
                    <div class="p-2"><i class="fa fa-map me-2"></i></div>
                    <div class="p-2"> <a>
                            Salatiga, Jawa Tengah, Indonesia
                        </a></div>

                </div>
                <div class="d-flex flex-row mb-3 ">
                    <div class="p-2"><i class="fa fa-tablet me-2"></i></div>
                    <div class="p-2"> <a>
                            0856-0895-1053
                        </a></div>

                </div>
                <div class="d-flex flex-row mb-3 ">
                    <div class="p-2"><i class="fa fa-envelope me-2"></i></div>
                    <div class="p-2"> <a>
                            eilmheart@gmail.com
                        </a></div>

                </div>

                <a href="#" class="custom-btn btn mt-3">Get Direction</a>
            </div>
        </div>
    </div>

    <div class="text-center bg-dark  py-3">
        <P class="font-weight-bold mb-0">
            @copy; 2019. Eilm Heart. All Right Reserved</P>
    </div>
    
</footer>