<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow-lg">
        <div class="container">
            <div>
                <img src="https://technext.github.io/KindHeart/images/logo.png"
              class="logo img-fluid" alt="">
            </div>
           
            <span>
                Eilm 
                <small>Heart</small>
            </span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/#">Home</a>
                    </li>
                    {% if username is not null %}
                    <li class=" nav-item">
                        <a class="nav-link " href="/#section_2">About</a>
                    </li>
                    <li class=" nav-item">
                        <a class="nav-link " href="/Contact">Contact</a>
                    </li>
                    <li class=" nav-item">
                        <a class="nav-link " href="/Data">Data</a>
                    </li>

                    <li class=" nav-item">
                        <a class="nav-link"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{username}}</a>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        {% if username is null %}
                        <button type="button" class="btn"><a class="nav-link" href="/login">Login</a></button>
                        {% else %}
                        <a type="button" class="btn nav-link" href="/logout">Logout</a></button>
                        {% endif %}
                    </li>


                </ul>
            </div>
    </nav>
    

</header>