{% block ajax %}
{# {{Tabel}} #}
<script type="text/javascript">
    function get_cookie(cookie_name) {
        let c_name = cookie_name + "=";
        let cookie_decoded = decodeURIComponent(document.cookie);
        let cookie_parts = cookie_decoded.split(';');

        for (let i = 0; i < cookie_parts.length; i++) {
            let c = cookie_parts[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(c_name) == 0) {
                return c.substring(c_name.length, c.length);
            }
        }
        return "";
    }


    $(document).ready(function () {
        const editModal = document.getElementById('ModalaEdit')
        const editInput = document.getElementById('name')
        editModal.addEventListener('shown.bs.modal', () => {
            editInput.focus();
        })
        const insertModal = document.getElementById('ModalaAdd')
        const insertInput = document.getElementById('tambah_nama')
        insertModal.addEventListener('shown.bs.modal', () => {
            insertInput.focus();
        })
        
        initTable = function () {

            table = $("#data").on('preXhr.dt', function (e, settings, data) {

                console.log('loading ....');

            }).on('draw.dt', function () {
                console.log('dapat data');

            }).DataTable({
                "columnDefs": [
                    { "width": "1%", "targets": 0, className: "text-center", "orderable": false },
                    { "width": "10%", "targets": 1, className: "text-start", "orderable": false },
                    { "width": "10%", "targets": 2, className: "text-start", "orderable": false },
                    { "width": "10%", "targets": 3, className: "text-start", "orderable": false },
                    { "width": "10%", "targets": 4, className: "text-start", "orderable": false },
                    { "width": "10%", "targets": 5, className: "text-start", "orderable": false },
    
                ],
                'pageLength': 10,
                'processing': true,
                'serverSide': true,
                'ajax': {
                    'url': "/tampil-admin",
                    'dataType:': 'json',
                    'type': 'get'
                   
                },
                'columns': [
                    { 'data': 'no' },
                    { 'data': 'username' },
                    { 'data': 'first_name' },
                    { 'data': 'last_name' },
                    { 'data': 'pengguna' },
                    { 'data': 'aksi' }

                ]
            });

        }

        initTable();


        //GET UPDATE

        $('#show_data').on('click', '.item_edit', function () {
            var id = $(this).attr('data');
            $.ajax({
                type: "GET",
                url: "/" + id + "/selectadmin",
                dataType: "JSON",
                data: { id: id },
                success: function (data) {
                    $.each(data, function (id, username, first_name, last_name, pengguna) {
                        $('#ModalaEdit').modal('show');
                        $('[name="id"]').val(data[0].user_id);
                        $('[name="username"]').val(data[0].username);
                        $('[name="first_name"]').val(data[0].first_name);
                        $('[name="last_name"]').val(data[0].last_name);
                        $('[name="tipe_pengguna"]').val(data[0].tipe);
                    });
                }
            });
            return false;
        });



        //GET HAPUS
        $('#show_data').on('click', '.item_hapus', function () {
            var id = $(this).attr('data');
            $('#ModalHapus').modal('show');
            $('[name="kode"]').val(id);
        });

        //Simpan Data
        $('#ibtn_simpan').on('click', function () {
            var username = $('#iusername').val();
            var first_name = $('#ifirst_name').val();
            var last_name = $('#ilast_name').val();
            var tipe = $('#tipe').val();
            $.ajax({
                type: "POST",
                url: "tambah-data-admin",
                dataType: "JSON",
                data: { user_id: id, username:  username, first_name: first_name, last_name: last_name, tipe: tipe },
                success: function (data) {
                    console.log(data);
                    if (data) {
                        $('#ModalaAdd').modal('hide');
                        let timerInterval
                        Swal.fire({
                            title: 'Memuat Data...',
                            html: 'Tunggu  <b></b>  Detik.',
                            timer: 300,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading()
                                const b = Swal.getHtmlContainer().querySelector('b')
                                timerInterval = setInterval(() => {
                                    b.textContent = Swal.getTimerLeft()
                                }, 100)
                            },
                            willClose: () => {
                                clearInterval(timerInterval)
                            }
                        }).then((result) => {
                            table.draw(false)

                            Swal.fire(
                                {
                                    icon: 'success',
                                    title: 'Berhasil',
                                    text: 'Data telah ditambahkan.',
                                    //footer: '<a href="">Why do I have this issue?</a>'
                                }

                            )
                            $('#ModalaAdd').on('hidden.bs.modal', function () {
                                $(this).find('form')[0].reset();
                            });
                            // $('form').get(0).reset()
                        })

                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Ada yang eror!',
                            //footer: '<a href="">Why do I have this issue?</a>'
                        })
                    }

                }
            });
            return false;
        });

        //Update Barang
        $('#btn_update').click(function (e) {
            var id = $('#id').val();
            var username = $('#username').val();
            var first_name = $('#first_name').val();
            var last_name = $('#last_name').val();
            var tipe_pengguna = $('#tipe_pengguna').val();
            $.ajax({
                type: "POST",
                url: "/ubahadmin",
                dataType: "JSON",
                data: { user_id: id, username:  username, first_name: first_name, last_name: last_name, tipe_pengguna: tipe_pengguna },
                success: function (data) {
                    if (data) {
                        $('#ModalaEdit').modal('hide');
                        let timerInterval
                        Swal.fire({
                            title: 'Memuat Data...',
                            html: 'Tunggu  <b></b>  Detik.',
                            timer: 300,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading()
                                const b = Swal.getHtmlContainer().querySelector('b')
                                timerInterval = setInterval(() => {
                                    b.textContent = Swal.getTimerLeft()
                                }, 100)
                            },
                            willClose: () => {
                                clearInterval(timerInterval)
                            }
                        }).then((result) => {
                            Swal.fire(
                                {
                                    icon: 'success',
                                    title: 'Berhasil',
                                    text: 'Data telah diubah.',
                                    //footer: '<a href="">Why do I have this issue?</a>'
                                }

                            )
                        })

                        table.draw(false)
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Ada yang eror!',
                            //footer: '<a href="">Why do I have this issue?</a>'
                        })
                    }
                }
            });
            return false;
        });

        //Hapus Data
        $('#btn_hapus').on('click', function () {
            var kode = $('#textkode').val();
            $.ajax({
                type: "POST",
                url: "/delete-admin",
                dataType: "JSON",
                data: { kode: kode },
                success: function (data) {
                    if (data) {
                        $('#ModalHapus').modal('hide');
                        let timerInterval
                        Swal.fire({
                            title: 'Memuat Data...',
                            html: 'Tunggu  <b></b>  Detik.',
                            timer: 300,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading()
                                const b = Swal.getHtmlContainer().querySelector('b')
                                timerInterval = setInterval(() => {
                                    b.textContent = Swal.getTimerLeft()
                                }, 100)
                            },
                            willClose: () => {
                                clearInterval(timerInterval)
                            }
                        }).then((result) => {
                            Swal.fire(
                                {
                                    icon: 'success',
                                    title: 'Berhasil',
                                    text: 'Data telah dihapus.',
                                    //footer: '<a href="">Why do I have this issue?</a>'
                                }

                            )
                        })

                        table.draw(false)
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Ada yang eror!',
                            //footer: '<a href="">Why do I have this issue?</a>'
                        })
                    }



                    //tampil_data_barang();
                }
            });
            return false;
        });

    });

</script>
{% endblock ajax %}