{# Komentar #}
{% extends "layout/Dashboard/master.html" %}

{% set title = "Contact - Eilm Heart" %}

{% block content %}

<div class="text-center bg-dark text-white py-5 mt-5 bg-img">
    <h1 class="display-1">Contact</h1>
    <p class="text-white">Eilm Heart</p>
</div>

<section class="py-5">
  <div class="container ">
      <div class="row bg-light shadow-lg py-5">

          <div class="col-lg-4 col-12 ms-auto mb-5 mb-lg-0">
              <div class="contact-info-wrap">
                  <h5 class="">Dapatkan Informasi</h5>

                  <div class="contact-image-wrap d-flex flex-wrap ">
                      <img src="img/foto/aku.jpg" class="img-fluid avatar-image" alt="">

                      <div class="d-flex flex-column justify-content-center ms-3">
                          <p class="mb-0 ">Ahmad Catur Yulianto</p>
                          <p class="mb-0 "><strong>HR & Office Manager</strong></p>
                      </div>
                  </div>

                  <div class="contact-info ">
                      <h5 class="mb-3">kontak</h5>




                      <div class="d-flex flex-row mb-3 ">
                          <div class="p-2"><i class="fa fa-map me-2"></i></div>
                          <div class="p-2"> <a>
                                  Salatiga, Jawa Tengah, Indonesia
                              </a></div>

                      </div>
                      <div class="d-flex flex-row mb-3 ">
                          <div class="p-2"><i class="fa fa-tablet me-2"></i></div>
                          <div class="p-2"> <a>
                                  0856-0895-1053
                              </a></div>

                      </div>
                      <div class="d-flex flex-row mb-3 ">
                          <div class="p-2"><i class="fa fa-envelope me-2"></i></div>
                          <div class="p-2"> <a>
                                  eilmheart@gmail.com
                              </a></div>

                      </div>



                  </div>
              </div>
          </div>

          <div class="col-lg-5 col-12 mx-auto">
              <form class="custom-form contact-form" action="#" method="post" role="form">
                  <h5>Hubungi Kami</h5>

                  <p class="mb-4 ">Or, you can just send an email:
                      <a class="" href="#">eilmheart@gmail.com</a>
                  </p>
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-12">
                          <input type="text" name="first-name" id="first-name" class="form-control bg-light"
                              placeholder="Nama" required>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                          <input type="text" name="last-name" id="last-name" class="form-control bg-light"
                              placeholder="Lengkap" required>
                      </div>
                  </div>

                  <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*"
                      class="form-control bg-light" placeholder="email@gmail.com" required>

                  <textarea name="message" rows="5" class="form-control bg-light" id="message"
                      placeholder="Apa yang bisa saya bantu?"></textarea>

                  <button type="submit" class="form-control text-white">Kirim Pesan</button>
              </form>
          </div>

      </div>
  </div>
</section>




{% endblock content%}