{% block delete %}
<script>
  $(document).ready(function () {
    $('.delete_items').click(function () {
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-success',
          cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false
      })

      swalWithBootstrapButtons.fire({
        title: 'Apa kamu yakin?',
        text: "Kamu ingin menghapus ini!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Ya, Hapus ini!',
        cancelButtonText: 'Tidak, Batalkan!',
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {

          var delete_id = $(this).attr('id')
          $.ajax({
            type: 'POST',
            url: '/delete',
            data: {
              id: delete_id
            },
            success: function (response) {
              console.log(response)
              if (response) {
                swalWithBootstrapButtons.fire(
                  'Hapus!',
                  'Data telah dihapus.',
                  'Berhasil'
                ).then(function () {
                  window.location.replace("/")
                })
              } else {
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Ada yang eror!',
                  //footer: '<a href="">Why do I have this issue?</a>'
                })
              }
            }
          })
        } else if (
          /* Read more about handling dismissals below */
          result.dismiss === Swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons.fire(
            'Batalkan',
            'Kamu telah membatalkan:)',
            'error'
          )
        }
      })
    })
  })
</script>
{% endblock delete %}