{# Komentar #}
{% extends "layout/Auth/auth.html" %}

{% set title = "Halaman Login - Twig" %}

{% block content %}

{% if hasRegistered == true %}
<script>
  Swal.fire({
    icon: 'success',
    title: 'Kamu berhasil Register',
    showConfirmButton: false,
    timer: 1500
  })
</script>
{% endif %}
{% if notvalidate == true %}
<script>
  Swal.fire({
    icon: 'error',
    title: 'Gagal Login',
    showConfirmButton: false,
    timer: 1500
  })
</script>
{% endif %}

<section class="vh-100 gradient-custom">
  <div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-5 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white">
          <div class="card-body p-3 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Tolong masukan username and password!</p>
              <form action="/islogin" method="post">
              <div class="form-outline form-white mb-4">
                <input type="text" id="typeEmailX" class="form-control form-control-lg" placeholder="Username" name="username"/>
              </div>
              <div class="form-outline form-white mb-4">

                <input type="password" id="password" class="form-control form-control-lg" placeholder="Password" name="password" />
              </div>  
              <div class="form-outline form-white mb-4">


                <button class="btn btn-light btn-lg px-5" type="submit">Login</button>

                <p class="mb-0">Tidak memiliki akun? <a href="/register" class="text-white-50 fw-bold">Register</a>
                </p>
              </div>
            </form>


            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}