{# Komentar #}
{% extends "layout/login.html" %} 

{% set title = "Halaman Login - Twig" %} 

{% block content %} 

<div class="container" id="container">
  <div class="form-container log-in-container">
    <form action="/" method="post">
      <h1>Login</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fa fa-facebook fa-2x"></i></a>
        <a href="#" class="social"><i class="fab fa fa-twitter fa-2x"></i></a>
      </div>
      <span>or use your account</span>
      <input type="username" placeholder="Username" />
      <input type="password" placeholder="Password" />
      <div class="my-2">
        <a href="#">Forgot your password?</a>
        <a href="/register">Register</a>
      </div>
      
      <button type="submit">Log In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>HTML CSS Login Form</h1>
        <p>This login form is created using pure HTML and CSS. For social icons, FontAwesome is used.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %} 







