{# Komentar #}
{% extends "layout/Auth/auth.html" %}

{% set title = "Halaman Register - Twig" %}

{% block content %}
{% if hasData == true %}
<script>
  Swal.fire({
    icon: 'error',
    title: 'Akun Sudah Ada',
    showConfirmButton: false,
    timer: 1500
  })
</script>
{% endif %}

<section class=" gradient-custom">
  <div class="container py-1 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-5 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white">
          <div class="card-body  text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <form action="/form-register" method="POST">

                <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                <p class="text-white-50 mb-5">Tolong isi form Register!</p>

                <div class="form-outline form-white mb-4">
                  <input name="first_name" type="text" class="form-control form-control-lg" placeholder="Nama Depan"
                    required />
                </div>
                <div class="form-outline form-white mb-4">
                  <input name="last_name" type="text" class="form-control form-control-lg" placeholder="Belakang"
                    required />
                </div>
                <div class="form-outline form-white mb-4">
                  <input name="username" type="username" class="form-control form-control-lg" placeholder="Username"
                    required />
                </div>
                <div class="form-outline form-white mb-4">
                  <input name="password" type="password" class="form-control form-control-lg" placeholder="Password"
                    required />
                </div>
                <div class="form-outline form-white mb-4">


                  <button class="btn btn-light btn-lg px-5" type="submit">Register</button>

                  <p class="mb-0">Sudah memiliki akun? <a href="/login" class="text-white-50 fw-bold">Login</a>
                  </p>
                </div>
              </form>


            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}